body {
    margin: 0px;
    padding: 0px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo h2 {
    color: #F9FFF8;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links .first {
    background-color: #1F2937;
    color: #F9FFF8;
    margin: 10px;
}

.links .second {
    background-color: #1F2937;
    color: #F9FFF8;
    margin: 10px
}